* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(136, 63, 50);
  text-align: center;
  color: #fff;
  height: 100px;
  padding: 12px;
}

nav {
  margin-top: 15px;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
nav li {
  display: inline-block;
}
.head {
  text-align: center;
  margin: 70px;
}
.head h3 {
  padding: 20px;
  font-size: 25px;
}
.head button {
  margin: 20px;
  padding: 7px;
  width: 110px;
  background-color: rgb(96, 96, 255);
  color: #fff;
}
.flex-box {
  display: flex;
  gap: 10px;
  padding: -10px;
  margin-left: 10%;
}
.flex-box1 {
  background-color: rgb(223, 217, 217);
  height: 100px;
  width: 500px;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  margin: 1px;
  margin-right: 20px;
}
.flex-box p {
  margin: 10px;
}
.flex-box h2 {
  text-align: center;
  margin-left: -10px;
}
footer {
  text-align: center;
  background-color: rgb(136, 63, 50);
  padding: 30px;
  margin-top: 60px;
  color: #fff;
}
